@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes shimmer {
  0% {
    background-position: -200% center;
  }

  100% {
    background-position: 200% center;
  }
}

.shimmer-text {
  background: linear-gradient(
    90deg,
    #c58a00,
    #ffe082,
    #fff8dc,
    #ffd54f,
    #c58a00
  );

  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;

  animation: shimmer 3s linear infinite;
}



.gold-border {
  position: relative;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
}

.gold-border::before {
  content: "";
  position: absolute;
  inset: -150%;

  background: conic-gradient(
      from 0deg,
      transparent 0deg,
      transparent 280deg,
      #facc15 320deg,
      #fff8dc 340deg,
      #f59e0b 360deg
  );

  animation: rotateBorder 3s linear infinite;
}

.gold-border > div {
  position: relative;
  z-index: 2;
  border-radius: 22px;
  background: rgba(255,255,255,.92);
}

@keyframes rotateBorder{
    to{
        transform:rotate(360deg);
    }
}